<div class="signin-page">
    <div class="left-side">
        <%= image_tag("about.jpg") %>
    </div>

    <div class="right-side">
        <div class="signin-form-container">
            <h1>Se connecter</h1>
            <%= form_with url: session_url, class: "signup-form" do |form| %>
            <div class="form-group">
                <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "jean@example.com", value: params[:email_address], class: "form-input" %>
            </div>

            <div class="form-group password-container">
                <%= form.password_field :password, required: true, placeholder: "Mot de passe", maxlength: 72, id: "password", class: "form-input password-field" %>
                <span class="toggle-password" onclick="togglePassword('password', 'password-icon')">
                    <i class="fa fa-eye" id="password-icon"></i>
                </span>
            </div>

            <div class="form-group">
                <%= form.checkbox :show_password, class: "show-password-box" %> Voir le mot de passe
            </div>
            <div>
                <%= form.submit "Se connecter", class: "submit-button" %>
            </div>
            <div>
                <%= link_to "Mot de passe oublié ?", new_password_path, class: "text-gray-700 underline" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script>
function togglePassword(fieldId, iconId) {
  const passwordField = document.getElementById(fieldId);
  const icon = document.getElementById(iconId);

  if (passwordField.type === "password") {
    passwordField.type = "text";
    icon.classList.remove("fa-eye");
    icon.classList.add("fa-eye-slash");
  } else {
    passwordField.type = "password";
    icon.classList.remove("fa-eye-slash");
    icon.classList.add("fa-eye");
  }
}
</script>