<div class="admin-dashboard">
<p><strong>Choisissez votre méthode de paiement :</strong></p>

<%= form_with url: membership_complete_admin_members_path, method: :post do %>

  <% @membership_data.each do |key, value| %>
    <%= hidden_field_tag "membership_data[#{key}]", value %>
  <% end %>

  <div>
    <label>
      <%= radio_button_tag :payment_method, 'Carte bancaire' %>
      Carte bancaire
    </label><br>
    <label>
      <%= radio_button_tag :payment_method, 'Chèque' %>
      Chèque
    </label><br>
    <label>
      <%= radio_button_tag :payment_method, 'Espèces' %>
      Espèces
    </label><br>
  </div>

  <div>
    <button type="submit" name="action_type" value="validate" class="btn btn-success">Valider l'adhésion</button>
    <button type="submit" name="action_type" value="pending" class="btn btn-warning">Mettre en attente</button>
    <button type="submit" name="action_type" value="cancel" class="btn btn-danger">Annuler</button>
  </div>
<% end %>
</div>