<div class="sidebar-logo">

    <%= link_to admin_dashboard_index_path do %>
        <%= image_tag "circo-admin.png", class: "image-main" %>
    <% end %>

</div>

<div class="admin-dashboard">
<%= form_with url: notepad_url, method: :put do |form| %>
  <%= text_area_tag "notepad", @notepad%>
  <%= submit_tag "Mettre à jour", class: "btn btn-primary" %>
<% end %>
<div>
