<div class="signup-page">
  <div class="left-side">
    <%= image_tag("about.png", alt: "Circographe Image", class: "signup-img") %>
  </div>
  <div class="right-side">
    <div class="signup-form-container">
      <h1>S'inscrire au Circographe</h1>
      <%= form_with url: registration_path(action: "create"), method: "post", class: "signup-form" do |form| %>
        <div class="form-group">
          <%= form.email_field :email_address, required: true, placeholder: "Adresse mail", maxlength: 72, class: "form-input"%>
        </div>
        <div class="form-group">
          <%= form.password_field :password, required: true, placeholder: "Mot de passe", maxlength: 72, class: "form-input password-field"%>
        </div>
        <div class="form-group">
          <%= form.password_field :password_confirmation, required: true, placeholder: "Confirmer votre mot de passe", maxlength: 72, class: "form-input password-field" %>
        </div>
        <div class="form-group">
          <%= form.checkbox :show_password, class: "show-password-box" %> Voir le mot de passe
        </div>
        <%= form.submit "S'inscrire", class: "submit-button" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const fields = document.getElementsByClassName("password-field");
  const box = document.querySelector(".show-password-box");

  box.addEventListener("change", () => {
    for(let i = 0; i < fields.length; i += 1){
      var field = fields[i];
      console.log(field)
      field.type = box.checked ? "text" : "password";
    }
  })
</script>
