<aside class="admin-sidebar">

    <div class="sidebar-logo">

        <%= link_to admin_dashboard_index_path do %>
            <%= image_tag "circo-admin.png", class: "image-main" %>
        <% end %>

    </div>

    <ul class="sidebar-menu">

        <li><%= link_to "Accueil", admin_dashboard_index_path, class: "sidebar-link" %></li>

        <li><%= link_to "Liste d'adhérents", admin_users_path, class: "sidebar-link" %></li>

        <%
=begin%>
 <li><%= link_to "Entraînements libre", "#", class: "sidebar-link" %></li> 
<%
=end%>

        <li><%= link_to "Événements", admin_events_path, class: "sidebar-link" %></li>

        <%
=begin%>
 <li><%= link_to "Statistiques", "#", class: "sidebar-link" %></li> 
<%
=end%>

        <%
=begin%>
 <li><%= link_to "Finances", "#", class: "sidebar-link" %></li> 
<%
=end%>

        <li><%= link_to "Bloc notes", notepad_path, class: "sidebar-link" %></li>

    </ul>

</aside>
