<div class="profile-container">
  
  
  <div class="membership-card">
    <h2><%= @user.role %></h2>
    <p><%= @user.email %></p>
    <%= link_to "Edit this user", edit_user_path(@user), class: "white-button" %>
  </div>
  
  <div class="profile-avatar">
    <% case @user.role %>
      <% when 'godmode' %>
        <%= image_tag "godmode.webp", alt: "Avatar God Mode" %>
      <% when 'admin' %>
        <%= image_tag "admin.webp", alt: "Avatar Admin" %>
      <% when 'volunteer' %>
        <%= image_tag "volunteer.webp", alt: "Avatar Bénévole" %>
      <% when 'circus_membership' %>
        <%= image_tag "circus_members.webp", alt: "Avatar Membre du Cirque" %>
      <% when 'membership' %>
        <%= image_tag "members.webp", alt: "Avatar Membre" %>
      <% when 'guest' %>
        <%= image_tag "users.png", alt: "Avatar Invité" %>
      <% else %>
        <%= image_tag "users.png", alt: "Avatar" %>
    <% end %>
    
    <% if @user.user_memberships.exists? %>
      <p><strong>Date d'inscription :</strong><br>
      <p><%= @user.user_memberships.order(:created_at).last.created_at.strftime("%d/%m/%Y") %></p>
    <% else %>
      <p><strong>Date d'inscription :</strong> Pas encore membre</p>
    <% end %>
  </div>

  <div class="profile-info">
    <% if authenticated? %>
      <% if @user.role.in?(["admin", "godmode", "volunteer"]) %>
        <%= link_to "Dashboard Administrateur", admin_dashboard_path, class: "white-button" %>
      <% end %>
    <% end %>
    
    
    <p>Abonné à la Newsletter : <%= @user.newsletter ? "Oui" : "Non" %></p>
  </div>
  
  <div class="profile-actions">
    <% if defined?(form) && form.present? %>
      <%= form.submit "Save Changes", class: "purple-button" %>
    <% else %>
      <%= link_to "Modifier le mot de passe", edit_password_path(@user.password_reset_token), class: "purple-button" %>
      <%= button_to (@user.newsletter? ? "Se désincrire de la newsletter" : "S'inscrire à la newsletter"),
      change_newsletter_status_user_path(@user), 
      method: :post,
      class: "white-button" %>
      <%= button_to "Supprimer mon compte", @user, method: :delete, class: "purple-button", data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible." } %>
    <% end %>
  </div>
</div>
