<div class="navbar_css">
  <div class="navbar-left_css">
    <div class="navbar-logo_css">
      <%= image_tag "Le-Circographe_logo_transparent.png" %>
    </div>
  </div>
  <div class="navbar-center_css">
    <ul class="navbar-links_css">
      <li><%= link_to "Accueil", root_path, class: "navbar-link_css" %></li>
      <li><%= link_to "Le cirque", le_cirque_path, class: "navbar-link_css" %></li>
      <li><%= link_to "Le Graff", le_graff_path, class: "navbar-link_css" %></li>
      <li><%= link_to "Le lieu", le_lieu_path, class: "navbar-link_css" %></li>
      <li><%= link_to "À propos", about_path, class: "navbar-link_css" %></li>
    </ul>
  </div>
  <div class="navbar-right_css">
    <% if authenticated? %>
      <%= button_to "Mon profil", user_path(current_user), class: "white-button_css" %>
      <%= button_to "Se déconnecter", destroy_session_path, method: :delete, class: "blue-button_css" %>
    <% else %>
      <%= link_to "Se connecter", new_session_path, class: "white-button_css" %>
      <%= link_to "S'inscrire", new_registration_path, class: "blue-button_css" %>
    <% end %>
  </div>
</div>
