<div class="profile-container">
    <div class="profile-header">
    <h2>
        <%= Current.user.role %>
    </h2>
        <%= Current.user.email %>
        <%= button_to "Editer", edit_user_path, class: "white-button" %>
    </div>
    <div class="profile-avatar">
        <%= image_tag "utilisateur.png", alt: "Avatar" %>
        <p>Depuis le : 11/10/24</p>
    </div>
    <div class="profile-info">
        <p>Abonné à la Newsletter : </p>
    </div>
    <div class="profile-actions">
        <%= link_to "Modifier le mot de passe", edit_password_path(Current.user.password_reset_token), class: "btn btn-primary" %>
        <%= button_to "S'inscrire à la newsletter", new_password_path, class: "white-button" %>
        <%= button_to "Supprimer mon compte", user_path, method: :delete, class:"purple-button" %>
    </div>
</div>
