<div class="profile-container">
    <% authenticated? %>
    <%= %>
    <% if current_user.role == "admin" || current_user.role == "godmode" || current_user.role == "volunteer" %>
    <%= link_to "Dashboard Administrateur", admin_dashboard_path %>
    <% end %>
    <div class="profile-header">
        <h2>
            <%= Current.user.role %>
        </h2>
        <%= Current.user.email %>
        <%= button_to "Editer", edit_user_path, class: "white-button" %>
    </div>
    <div class="profile-avatar">
        <%= image_tag "utilisateur.png", alt: "Avatar" %>
        <p>Depuis le : 11/10/24</p>
    </div>
    <div class="profile-info">
        <p>Abonné à la Newsletter : </p>
    </div>
    <div class="profile-actions">
        <%= button_to "Modifier mon mot de passe", new_password_path, class: "purple-button" %>
        <%= button_to "S'inscrire à la newsletter", new_password_path, class: "white-button" %>
        <%= button_to "Supprimer mon compte", user_path, method: :delete, class:"purple-button" %>
    </div>
</div>