<div class="banner">
  <%= image_tag "banner_home.jpg", class: "image" %>
</div>

<div class="banner-text">
  <p>Bienvenue sur le site du Circographe, un espace dédié à la création, au cirque, et aux arts urbains.</p>
</div>

<div class="container reverse">
  <div class="text-container">
    <strong>Le Cirque et les Entraînements Libres</strong>
    <p>Découvrez l'univers captivant du cirque, où l'art et la performance se rencontrent pour créer des spectacles inoubliables.</p>
    <p>Nos entraînements libres offrent aux artistes professionnels et aux passionnés l'opportunité de perfectionner leurs compétences dans un environnement stimulant et convivial.</p>
    <p>Rejoignez-nous pour explorer diverses disciplines, des acrobaties aux arts aériens, et laissez libre cours à votre créativité. </p>
  </div>
  <div class="image-container">
    <%= link_to page_path("le_cirque") do %>
      <%= image_tag "home1.webp", class: "image-main" %>
    <% end %>
  </div>
</div>

<div class="container reverse">
  <div class="image-container">
    <%= link_to page_path("le_graff") do %>
      <%= image_tag "home2.webp", class: "image-main" %>
    <% end %>
  </div>
  <div class="text-container">
    <strong>Le Graff</strong>
<p>Plongez dans le monde vibrant du graphisme, où chaque trait raconte une histoire.</p>
<p>Nos ateliers vous permettent d'exprimer votre créativité et de développer vos compétences artistiques.</p> 
<p>Que vous soyez débutant ou professionnel, notre espace est conçu pour inspirer et encourager l'innovation visuelle.</p>
  </div>
</div>

<div class="container reverse">
  <div class="text-container">
  <strong>Le Lieu</strong>
    <p>Situé au cœur de la ville, notre espace est un véritable havre de paix dédié à l'art et à la culture.</p>
    <p>Avec son architecture moderne et ses installations de pointe, il offre un cadre idéal pour les artistes et le public. </p>
    <p>Les salles spacieuses et lumineuses sont conçues pour accueillir une variété d'événements, des spectacles aux ateliers, en passant par les expositions.</p>
    <p>Venez découvrir un lieu où l'inspiration et la créativité sont au rendez-vous.</p>
  </div>
  <div class="image-container">
    <%= link_to page_path("le_lieu") do %>
      <%= image_tag "home3.webp", class: "image-main" %>
    <% end %>
  </div>
</div>
