<% 
  authenticated?
%>
<div class="form-container">
<%= form_with model: @event, url: events_path(action: "create"), method: "post" do |form| %>
  
  <%= form.text_field :title, required: true, placeholder: "ex.: Concert Super Cool", maxlength: 72, class: "form-input"%>
  <%= form.text_area :upper_description, required: false, placeholder: "Description haute", maxlength: 72, class: "form-input"%>
  <%= form.text_area :middle_description, required: true, placeholder: "Description milieu", maxlength: 72, class: "form-input"%>
  <%= form.text_area :bottom_description, required: false, placeholder: "Description basse", maxlength: 72, class: "form-input"%> 
  <%= form.text_field :location, required: true, placeholder: "ex.: Toulouse", maxlength: 72, class: "form-input"%>
  <%= form.date_field :date, required: true, maxlength: 72, class: "form-input"%>
  <%= form.hidden_field :creator, value: current_user%>
  <%= form.submit "Créer l'évenement", class: "submit-button"%> 
<% end %>
</div>
