<div class="about-container">
    <div class="banner_hero">
        <%= image_tag "about.jpg", alt: "Logo Circographe avec motifs floraux sur fond coloré de graffiti", class: "banner_image_hero" %>
    </div>

    <div class="container">
        <div class="text-container">
            <h3>À propos du projet :</h3>
            <p>Le Circographe est un espace associatif situé à Toulouse, dédié à la création, la pratique et la diffusion dans les arts du cirque et des arts urbains...</p>
            <h3>La Dépêche :</h3>
            <p>Le Circographe a déjà été la théâtre d'événements majeurs, notamment le Festival de cirque organisé...</p>
        </div>
        <div class="image-container">
            <%= image_tag "about.jpg", alt: "Logo Circographe avec motifs floraux sur fond coloré de graffiti", class: "image-main" %>
        </div>
    </div>

    <div class="team-section">
        <h2 class="team-title">L'équipe</h2>
        <div class="team-grid">
            <div class="team-member">
                <%= image_tag "admin.webp", alt: "Membre de l'équipe", class:"team-image" %>
                <p>Cédric<br>Denjran<br>Président</p>
            </div>
            <div class="team-member">
                <%= image_tag "admin.webp", alt: "Membre de l'équipe", class:"team-image" %>
                <p>Laetitia<br>Boudet<br>Trésoriere</p>
            </div>
            <div class="team-member">
                <%= image_tag "admin.webp", alt: "Membre de l'équipe", class:"team-image" %>
                <p>Helene<br>Charbonnier<br>Conseil d'administration</p>
            </div>
            <div class="team-member">
                <%= image_tag "admin.webp", alt: "Membre de l'équipe", class:"team-image" %>
                <p>Emma<br>Omer<br>Conseil d'administration</p>
            </div>
            <div class="team-member">
                <%= image_tag "admin.webp", alt: "Membre de l'équipe", class:"team-image" %>
                <p>Dark Paillettes</p>
            </div>
        </div>
    </div>
</div>