<% content_for :title, "Users" %>
<div class="admin-dashboard">
  <h1 class="dashboard-title">Tableau de bord administrateur</h1>

  <div class="dashboard-stats">
    <p><strong>Nombre d'utilisateurs :</strong> <%= @users.count %></p>
  </div>

  <div class="dashboard-actions">
    <%= link_to "Modifier les horaires", edit_admin_opening_hours_path, class: "btn btn-primary" %>
    <%= link_to "Creer un Adhérent (basique)", new_admin_user_path, class: "btn btn-primary"%>
    <%= link_to "Adhésion complète", membership_register_admin_members_path, class: "btn btn-primary" %>
  </div>

  <h2 class="dashboard-subtitle">Liste des utilisateurs</h2>
  
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Rôle</th>
        <th>Abonnement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email_address %></td>
          <td><%= user.role %></td>
          <% if user.user_memberships.exists? %>
            <td><%= user.user_memberships.order(:created_at).last.subscription_type.name %></td>
          <% else %>
            <td>non</td>
          <% end %>
          <td>
            <%= link_to "voir", admin_user_path(user), class: "btn btn-primary", data: { turbo: false } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>