<h1>Profil <%= @user.id %></h1>
 <div class="profile-container">
    <h1 class="profile-name"><%= @user.first_name %> <%= @user.last_name %></h1>
    <h2 class="profile-section-title">Informations</h2>
    <div class="profile-info">
      <div class="info-group">
        <p><strong>Email:</strong> <%= @user.email_address %></p>
        <p><strong>Date de naissance:</strong> <%= @user.birthdate %></p>
        <p><strong>Adresse:</strong> <%= @user.address %></p>
        <p><strong>Code Postal:</strong> <%= @user.zip_code %></p>
        <p><strong>Ville:</strong> <%= @user.town %></p>
        <p><strong>Pays:</strong> <%= @user.country %></p>
        <p><strong>N° de téléphone:</strong> <%= @user.phone_number %></p>
        <p><strong>Profession ou spécialité:</strong> <%= @user.occupation %></p>
        <p><strong>Disciplines pratiquées:</strong> <%= @user.specialty %></p>
        <p><strong>Droit à l'image:</strong> <%= @user.image_rights %></p>
      </div>
      <div class="info-group">
        <% if @user.user_memberships.exists? %>
          <% latest_membership = @user.user_memberships.order(created_at: :desc).first %>
          <p><strong>Inscription ?:</strong> Oui</p>
          <p><strong>Date d'inscription:</strong> <%= @user.user_memberships.order(:created_at).first.created_at.strftime("%d/%m/%Y") %></p>
          <p><strong>Type d'abonnement:</strong> <%= latest_membership.subscription_type.name %></p>
          <p><strong>Statut de l'abonnement:</strong> <%= latest_membership.status ? "Actif" : "Inactif" %></p>
        <% else %>
          <p><strong>Inscription ?:</strong> Non</p>
        <% end %>
        <p><strong>Newsletter:</strong> <%= @user.newsletter %></p>
        <p><strong>Investissement dans le projet:</strong> <%= @user.get_involved %></p>
      </div>
    </div>

  </div>

<div>
  <%= link_to "Edit this user", edit_admin_user_path(@user) %> |
  <%= link_to "Back to users", admin_users_path %>

  <%= button_to "Destroy this user", [:admin, @user], method: :delete %>
</div>
